---
import Layout from "../layouts/Layout.astro";
import "../styles/terminal.css";
---

<Layout title="radiant-radiation">
	<div class="layout">
		<main id="game" class="cli" aria-label="radiant-radiation puzzle"></main>
		<aside id="history" class="history" aria-label="game history"></aside>
	</div>
</Layout>

<script>
	import "../game/main.ts";
</script>
